.about{
    text-align: center;
    margin: 1.5em;
}

.about h2{
    font-size: 2em;
    margin: 1em;
    margin-bottom: 1em;
}

.about p{
    max-width: 80%;
    margin: 0 auto 1.5em;
    line-height: 1.2;
}